core-collapse {
	/*padding: 0 0 0 15px;*/
  overflow: visible !important;
}

.folder-item.active {
  background-color: rgba(0,0,0,0.1);
}

.folder-item.core-selected {
  background: none;
  text-decoration: none;
  font-weight: normal;
}

.folder {
  height: 40px;
  font-size: 15px;
  color: #444;
  font-weight: normal !important;

	cursor: pointer;
  position: relative;
  display: flex;
}

.folder.core-selected, .folder-item.active, .folder.active {
  background-color: rgba(0,0,0,0.1);
}

.folder-with-children {
  position: relative;
}

.folder-item {
  /*border-left: 1px solid gray;*/
  align-self: center;
  padding-left: 10px; 
}
.node-icon {
  align-self: center;
  padding-left: 5px; 
}

.connector-vert, .connector-vert-full {
  position: absolute;
  top: -12px;
  bottom: 0;
  width: 1px;
  background-color: gray;
}

.has-children-indicator {
  padding: 0 10px;
}

.folder:last-of-type .connector-vert {
  /*border-left: 1px solid gray;*/
  bottom: 50%;
}

.folder:last-of-type .folder > .connector-vert-full {
  display: none;
}

.connector-horiz {
  position: absolute;
  /*left: 0;*/
  top: 50%;
  width: 6px;
  height: 1px;
  background-color: gray;
}

.connector-vert-parent {
  position: absolute;
  bottom: 0;
  width: 1px;
  top: 0;
  background-color: gray;
}

.folder > .connector-vert-parent {
  top: 28px;
}

.folder:hover{
  background-color: rgba(0,0,0,0.05)
}

.folderDragover{
  background-color: rgba(0,0,0,0.2)
}

/* menu */
core-menu#menu {
  padding: 8px 0;
  margin: 0;
}

/* menu item */
/*polyfill-next-selector { content: 'core-menu#menu core-item.core-selected'; }
::content core-item.core-selected {
  background-color: #dedede;
}*/

.tree-title>h5 {
  text-transform: uppercase;
}