@import 'nib'

div.collapse 
  overflow: visible !important
  opacity:0
  visibility: hidden
  height: auto
  width: auto

  .folder
    max-height: 0
    transition: max-height 0.35s ease-out
  
  transition: visibility 0.25s linear, opacity 0.35s linear

  &.visible
    > div.folder-with-children > div > .folder
      max-height: 40px
      transition: max-height 0.35s ease-in
      
    visibility: visible
    opacity:1
    transition: visibility 0.25s linear, opacity 0.4s linear

.folder-with-children {
  position: relative;

  .connector-vert-parent {
    position: absolute;
    bottom: 0;
    width: 1px;
    top: 0;
    background-color: gray;
  }

  .folder {
    height: 40px;
    font-size: 14px;
    color: #444;
    font-weight: normal !important;

  	cursor: pointer;
    position: relative;
    display: flex;
    flex-flow: row;

    &.core-selected, &.active {
      background-color: rgba(0,0,0,0.1);
    }

    // cut vertical connector if last element
    &:last-of-type .connector-vert {
      bottom: 50%;
    }

    &:last-of-type .folder > .connector-vert-full {
      display: none;
    }

    &:hover{
      background-color: rgba(0,0,0,0.05)
    }

    // folder item
    .folder-item {
      /*border-left: 1px solid gray;*/
      align-self: center;
      order: 1;
      flex: 1 100%;
      // make this another flexbox
      display: flex;

      > div {
        align-self: center;
      }

      .node-icon-wrapper {
        z-index: 1;
        font-size: 25px;
        padding-left: 5px;
      }
      .title {
        color: #333
        padding-left: 15px;
      }
    }
    // dropdown icon
    .dropdown-icon-wrapper {
      padding-right: 10px;

      align-self: center;
      order: 2;
      flex: 1 auto;
      // make this another flexbox
      display: flex;
      justify-content: flex-end;
    }
    // connectore
    .connector-vert, .connector-vert-full {
      position: absolute;
      top: -12px;
      bottom: 0;
      width: 1px;
      background-color: gray;
    }
    .connector-horiz {
      position: absolute;
      /*left: 0;*/
      top: 50%;
      width: 6px;
      height: 1px;
      background-color: gray;
    }
  }
}